@model scoreboardVB10.Models.ScoreboardVBModels

@{
    ViewBag.Title = "KeepScore";
}

<h2>Keep Score</h2>



    <div class="container">
        <div class="row">
            <div class="col-md-4"><h3>Home Score</h3></div>
            <div class="col-md-4" id="HomeScore">@Html.DisplayFor(model => model.HomeTeamScore)</div>
            <div class="col-md-4"><button id="HomeScoreMinus">-</button> <button id="HomeScorePlus">+</button>@*<button id="HomeScorePlus" onclick="javascript: doScore('HomeScore', 'p')">+</button>*@</div>
        </div>
        <div class="row">
            <div class="col-md-4"><h3>Guest Score</h3></div>
            <div class="col-md-4" id="GuestScore">@Html.DisplayFor(model => model.GuestTeamScore)</div>
            <div class="col-md-4"><button id="GuestScoreMinus">-</button> <button id="GuestScorePlus">+</button></div>
        </div>
        <div><h4 id="scoreVB"></h4></div>
    </div>


<script>

    function doHomeScorePlus() {
        var dHomeScore = document.getElementById("HomeScore");
        console.log("dHomeScore: " + dHomeScore);
        //var currentHomeScore = 0;
        var currentHomeScore = dHomeScore.innerText;
        console.log("currentHomeScore: " + currentHomeScore);
        var newHomeScore = ++currentHomeScore;
        console.log("newHomeScore: " + newHomeScore);
        dHomeScore.innerText = newHomeScore;
        console.log("newHomeScore2: " + newHomeScore);
    };

    function doScorePlus(team) {
        console.log("team:" + team)
        var dHomeScore = document.getElementById(team);
        console.log("dHomeScore: " + dHomeScore);
        //var currentHomeScore = 0;
        var currentHomeScore = dHomeScore.innerText;
        console.log("currentHomeScore: " + currentHomeScore);
        var newHomeScore = ++currentHomeScore;
        console.log("newHomeScore: " + newHomeScore);
        dHomeScore.innerText = newHomeScore;
        console.log("newHomeScore2: " + newHomeScore);
    };

    function doScore(team, action) {
        console.log("team:" + team)
        console.log("action:" + action)
        var dHomeScore = document.getElementById(team);
        console.log("dHomeScore: " + dHomeScore);
        //var currentHomeScore = 0;
        var currentHomeScore = dHomeScore.innerText;
        console.log("currentHomeScore: " + currentHomeScore);

        if (action == "p") {
            var newHomeScore = ++currentHomeScore;
        } else {
            var newHomeScore = --currentHomeScore;
        }
        console.log("newHomeScore: " + newHomeScore);
        dHomeScore.innerText = newHomeScore;
        console.log("newHomeScore2: " + newHomeScore);
    };

</script>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var simple = $.connection.simpleHub;
        simple.client.showMessage = function (message) {
            console.log(message);
            $('#scoreVB').text(message);
        }

        //var message = $('#HomeScore').text();
        //var team;

        var arrApiUrl = window.location.href.split('/');
        var apiRoute = arrApiUrl.pop();
        var apiUrl = "/api/ScoreboardVBModelsApi/" + apiRoute;
        console.log("apiUrl: " + apiUrl);

        $.connection.hub.start().done(function () {
            //simple.server.showMessage(message);
            var arrUrl = window.location.href.split('/');
            var room = "room" + arrUrl.pop();
            console.log(room);
            simple.server.joinRoom(room);

            $('#HomeScorePlus').click(function () {
                console.log("#HomeScorePlus was clicked.");
                var message = $('#HomeScore').text();
                message = Number(++message);
                var team = "home";
                $('#HomeScore').text(message);
                console.log("message: " + message);
                simple.server.sendMessage(message, team, room);

                //jsonPut("h", message);


                //var dataToSubmit = {
                //    "HomeTeamScore": "20"
                //};

                var json = @Html.Raw(Json.Encode(Model));
                json.HomeTeamScore = message;
                console.log('json: ' + JSON.stringify(json));
                $.ajax({
                    url: apiUrl,
                    type: 'PUT',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data, textStatus, xhr) {
                        console.log('data: ' + data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                        console.log('xhr.status: ' + xhr.status);
                        console.log('textStatus: ' + textStatus);
                        console.log('errorThrown: ' + errorThrown);
                    }
                });


            });

            $('#HomeScoreMinus').click(function () {
                console.log("#HomeScoreMinus was clicked.");
                var message = $('#HomeScore').text();
                message = Number(--message);
                var team = "home";
                $('#HomeScore').text(message);
                console.log("message: " + message);
                simple.server.sendMessage(message, team, room);

                var json = @Html.Raw(Json.Encode(Model));
                json.HomeTeamScore = message;
                console.log('json: ' + JSON.stringify(json));
                $.ajax({
                    url: apiUrl,
                    type: 'PUT',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data, textStatus, xhr) {
                        console.log('data: ' + data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                        console.log('xhr.status: ' + xhr.status);
                        console.log('textStatus: ' + textStatus);
                        console.log('errorThrown: ' + errorThrown);
                    }
                });
            });

            $('#GuestScorePlus').click(function () {
                console.log("#GuestScorePlus was clicked.");
                var message = $('#GuestScore').text();
                message = Number(++message);
                var team = "guest";
                $('#GuestScore').text(message);
                console.log("message: " + message);
                simple.server.sendMessage(message, team, room);


                var json = @Html.Raw(Json.Encode(Model));
                json.GuestTeamScore = message;
                console.log('json: ' + JSON.stringify(json));
                $.ajax({
                    url: apiUrl,
                    type: 'PUT',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data, textStatus, xhr) {
                        console.log('data: ' + data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                        console.log('xhr.status: ' + xhr.status);
                        console.log('textStatus: ' + textStatus);
                        console.log('errorThrown: ' + errorThrown);
                    }
                });
            });

            $('#GuestScoreMinus').click(function () {
                console.log("#GuestScoreMinus was clicked.");
                var message = $('#GuestScore').text();
                message = Number(--message);
                var team = "guest";
                $('#GuestScore').text(message);
                console.log("message: " + message);
                simple.server.sendMessage(message, team, room);

                var json = @Html.Raw(Json.Encode(Model));
                json.GuestTeamScore = message;
                console.log('json: ' + JSON.stringify(json));
                $.ajax({
                    url: apiUrl,
                    type: 'PUT',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data, textStatus, xhr) {
                        console.log('data: ' + data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                        console.log('xhr.status: ' + xhr.status);
                        console.log('textStatus: ' + textStatus);
                        console.log('errorThrown: ' + errorThrown);
                    }
                });
            });
        });
        //});


        @*function jsonPut(team, score) {
            var json = @Html.Raw(Json.Encode(Model));
            if (team == "h") {
                json.HomeTeamScore = message;
            } else {
                json.GuestTeamScore = message;
            }

            console.log('json: ' + JSON.stringify(json));
            $.ajax({
                url: apiUrl,
                type: 'PUT',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data, textStatus, xhr) {
                    console.log('data: ' + data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                    console.log('xhr.status: ' + xhr.status);
                    console.log('textStatus: ' + textStatus);
                    console.log('errorThrown: ' + errorThrown);
                }
            });
        }*@


    </script>
}