@model scoreboardVB10.Models.ScoreboardVBModels

@{
    ViewBag.Title = "Score";
}

<h2>Score</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6"><h3>Home Score</h3></div>
        <div class="col-md-6" id="HomeScore">@Html.DisplayFor(model => model.HomeTeamScore)</div>
    </div>
    <div class="row">
        <div class="col-md-6"><h3>Guest Score</h3></div>
        <div class="col-md-6" id="GuestScore">@Html.DisplayFor(model => model.GuestTeamScore)</div>
    </div>
</div>

<div>
    <h4>ScoreboardVBModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set1Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set1Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set2Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set2Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set3Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set3Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetNumber)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>



@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var simple = $.connection.simpleHub;
        
        simple.client.showMessage = function (message) {
            alert(message);
            $('#HomeScore').text(message);
            $('#GuestScore').text(message);
        };
        $.connection.hub.start().done(function () {
            //var arrUrl = window.location.href.split('/');
            //console.log("url: " + arrUrl.pop());
            //simple.server.joinGroup(arrUrl);
            //simple.server.sendMessage("help me");
            simple.server.sendMessage("this sucks");
        });

        //simple.server.

        //simple.s

        //eventHub.server.joinGroup("my-awsm-group");
        //$.connection.simpleHub.
    </script>
}
