@model scoreboardVB10.Models.ScoreboardVBModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScoreboardVBModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set1Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set1Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set2Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set2Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set3Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set3Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
